.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.header__text {
  max-width: 635px;
}

.header__title {
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin: 0;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0 0;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 500;
  color: #838383;
}

.header__address {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.staff {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #fff;
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 0 0 24px;
  color: #fff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0 68px;
}

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 760px;
}

.card {
  width: 360px;
  height: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 8px;
  color: #000;
}

.card__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #000;
}

.card__footer {
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  padding-top: 20px;
  margin-top: auto;
  left: 40px;
  right: 40px;
}

@media (max-width: 800px) {
  .page {
    min-width: auto;
    width: 100%;
  }

  .header {
    padding: 20px 20px 30px;
    height: auto;
    min-height: auto;
    max-height: none;
  }

  .header__content {
    flex-direction: column;
    margin-top: 40px;
  }

  .header__title {
    font-size: 40px;
    line-height: 48px;
  }

  .header__description {
    font-size: 18px;
    line-height: 26px;
  }

  .header__footer {
    position: relative;
    bottom: auto;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .staff__cards {
    width: 100%;
    max-width: 360px;
    gap: 30px;
  }

  .card {
    width: 100%;
    height: auto;
    min-height: 420px;
  }

  .staff__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .staff__subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 32px;
    line-height: 40px;
  }

  .card {
    padding: 20px;
  }

  .card__title {
    font-size: 18px;
    line-height: 24px;
  }

  .card__text {
    font-size: 15px;
    line-height: 22px;
  }
}

.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  background-color: #f2f2f2;
  gap: 80px;
}

.event-info {
  max-width: 520px;
}

.event-label {
  font-size: 16px;
  color: #090909;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.event-info h2 {
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.event-info p {
  font-size: 16px;
  margin-top: 0px;
  color: #090909;
}

.event-info a {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
}

.event-date {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 2px;
}

.icon-calendar {
  width: 16px;
  height: 16px;
}

.event-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 35px;
}

.icon-pin {
  width: 16px;
  height: 16px;
}

.event-image {
  position: relative;
  width: 520px;
}

.imagem-base {
  width: 100%;
  display: block;
}
.pessoa {
  position: absolute;
  object-fit: cover;
}

.feynman {
  top: 5px;
  left: 210px;
  width: 85px;
  height: 85px;
}
.burbidge {
  top: 90px;
  right: 100px;
  width: 60px;
  height: 60px;
}
.cannon {
  bottom: 35px;
  right: 160px;
  width: 60px;
  height: 60px;
}
.mitchell {
  top: 260px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.tarter {
  bottom: 250px;
  left: 115px;
  width: 60px;
  height: 60px;
}

.person-name {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
}

.person-name.top.feynman {
  top: -30px;
  left: 210px;
  width: 85px;
}
.person-name.top.burbidge {
  top: 55px;
  right: 110px;
  width: 60px;
}
.person-name.top.tarter {
  bottom: 260px;
  left: 115px;
  width: 60px;
}

.person-name.bottom.cannon {
  bottom: -45px;
  right: 175px;
  width: 60px;
}
.person-name.bottom.mitchell {
  top: 300px;
  left: 90px;
  width: 50px;
}
